.card-environment {
	float: left;
	width: 60%;
}

.instruction {
	float: left;
	width: 40%;
	padding-right: 2em;
}

.main {
	margin-bottom: 3em;
	margin-top: 3em;
}

.clear {
	clear: left;
}

.progress-bar {
	background-color: green;
	height: 20px;
}

.progress-bar-med {
	background-color: rgb(128, 98, 0);
	height: 20px;
}

.progress-bar-low {
	background-color: rgb(128, 0, 0);
	height: 20px;
}